@import 'style.css';

.main {
    padding-top: 108px;
}
.name {
    display: block;
    font-weight: 900;
    color: #424242;
    margin-bottom: 10px;
}
.author {
    display: block;
    font-weight: 900;
    color: #424242;
    font-size: 20px;
    margin-bottom: 10px;
}
.text {
    color: #424242;
    margin-bottom: 10px;
}
.moderate-btn {
    box-sizing: border-box;
    margin: 0;
    cursor: pointer;
    background: #fea78b;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 900;
    margin-right: 20px;
}