* {
    box-sizing: border-box;
    margin: 0;
}
body {
    background: #fff;
    font-family: sans-serif;
}
.container {
    width: 1150px;
    margin: auto;
}
.top-bar {
    min-height: 78px;
    width: 100%;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background: #fea78b;
    z-index: 100;
}
.sidebar {
    position: fixed;
    height: 100%;
    background: #838488;
    padding: 98px 0 0 30px;
    transition: 1s;
    min-width: 255px;
    z-index: 10;
}
.sidebar.hide {
    transform: translateX(calc(30px - 100%));
}
.sidebar-hide {
    cursor: pointer;
    display: flex;
    margin-bottom: 20px;
}
.sidebar-hide-btn {
    text-align: right;
    color: #ffffff;
    font-weight: 900;
    font-size: 18px;
    width: calc(100% - 30px);
    margin-right: 15px
}
.sidebar-burger {
    margin-right: 3px;
    vertical-align: middle;
    width: 24px;
    height: 24px;
    transform: rotate(180deg);
    transition: 1s;
}
.sidebar.hide .sidebar-burger {
    transform: rotate(0);
}
.nav-link {
    display: block;
    text-decoration: none;
    padding: 10px;
    background: #fea78b;
    color: #fff;
    margin-bottom: 15px;
    margin-right: 30px;
    text-align: center;
    font-weight: 900;
    font-size: 16px;
    border-radius: 21.5px;
}
.nav-link:hover {
    background: #aa705c;
}
.logo {
    display: flex;
    align-items: center;
    text-decoration: none;
}
.logo-img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}
.logo-name {
    font-weight: 900;
    font-size: 40px;
    color: #fff;
}
.authent.hide {
    display: none;
}
.authent-link {
    color: #fff;
    font-size: 20px;
    text-decoration: none;
    font-weight: 900;
    margin-right: 20px;
}
.user {
    text-decoration: none;
    display: flex;
    align-items: center;
    background: #fff;
    padding: 7px;
    border-radius: 5px;
}
.user.hide {
    display: none;
}
.user:hover {
    background: #f1f1f1;
}
.user-avatar {
    width: 40px;
    height: 40px;
    background-size: cover;
    margin-right: 10px;
    border-radius: 5px;
}
.user-name {
    color: #000;
    font-size: 18px;
    font-weight: 900;
}
.user-authent {
    color: #838488;
    font-weight: 900;
    font-size: 14px;
}

/* add */

/* add end */

/* main */

/* main end */

/* signup */

/* signup end */

/* login */

/* login end */

/* profile */

/* profile end */