* {
    box-sizing: border-box;
    margin: 0;
}
body {
    background: #fff;
    font-family: sans-serif;
}
.container {
    width: 1150px;
    margin: auto;
}
.top-bar {
    min-height: 78px;
    width: 100%;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background: #fea78b;
    z-index: 100;
}
.sidebar {
    position: fixed;
    height: 100%;
    background: #838488;
    padding: 98px 0 0 30px;
    transition: 1s;
    min-width: 255px;
    z-index: 10;
}
.sidebar.hide {
    transform: translateX(calc(30px - 100%));
}
.sidebar-hide {
    cursor: pointer;
    display: flex;
    margin-bottom: 20px;
}
.sidebar-hide-btn {
    text-align: right;
    color: #ffffff;
    font-weight: 900;
    font-size: 18px;
    width: calc(100% - 30px);
    margin-right: 15px
}
.sidebar-burger {
    margin-right: 3px;
    vertical-align: middle;
    width: 24px;
    height: 24px;
    transform: rotate(180deg);
    transition: 1s;
}
.sidebar.hide .sidebar-burger {
    transform: rotate(0);
}
.nav-link {
    display: block;
    text-decoration: none;
    padding: 10px;
    background: #fea78b;
    color: #fff;
    margin-bottom: 15px;
    margin-right: 30px;
    text-align: center;
    font-weight: 900;
    font-size: 16px;
    border-radius: 21.5px;
}
.nav-link:hover {
    background: #aa705c;
}
.logo {
    display: flex;
    align-items: center;
    text-decoration: none;
}
.logo-img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}
.logo-name {
    font-weight: 900;
    font-size: 40px;
    color: #fff;
}
.authent.hide {
    display: none;
}
.authent-link {
    color: #fff;
    font-size: 20px;
    text-decoration: none;
    font-weight: 900;
    margin-right: 20px;
}
.user {
    text-decoration: none;
    display: flex;
    align-items: center;
    background: #fff;
    padding: 7px;
    border-radius: 5px;
}
.user.hide {
    display: none;
}
.user:hover {
    background: #f1f1f1;
}
.user-avatar {
    width: 40px;
    height: 40px;
    background-size: cover;
    margin-right: 10px;
    border-radius: 5px;
}
.user-name {
    color: #000;
    font-size: 18px;
    font-weight: 900;
}
.user-authent {
    color: #838488;
    font-weight: 900;
    font-size: 14px;
}

/* main */
.phylosophy {
    /* text-align: center; */
    background: #aeadd9;
    min-height: 258px;
    padding: 98px 60px 20px 60px;
    position: relative;
}
.phylosophy-slider-back {
    outline: none;
    cursor: pointer;
    position: absolute;
    top: 78px;
    left: 0;
    height: calc(100% - 78px);
    border: none;
    background: transparent;
}
.phylosophy-slider-back:hover {
    background: linear-gradient(to right, rgba(255, 255, 255, 0.384) 0%, transparent 100%);
}
.phylosophy-slider-forward {
    outline: none;
    cursor: pointer;
    position: absolute;
    top: 78px;
    right: 0;
    height: calc(100% - 78px);
    border: none;
    background: transparent;
}
.phylosophy-slider-forward:hover {
    background: linear-gradient(to left, rgba(255, 255, 255, 0.384) 0%, transparent 100%);
}
.phylosophy-arrow-forward {
    transform: rotate(180deg);
}
.phylosophy-slider {
    width: 1000px;
    margin: auto;
    overflow: hidden;
}
.phylosophy-text {
    font-size: 20px;
    font-weight: 900;
    color: #fff;
    /* margin-bottom: 30px; */
    display: none;
}
.phylosophy-text.active {
    display: block;
}
.welcome {
    padding-top: 30px;
}
.welcome-h {
    color: #fea78b;
    font-size: 40px;
    text-align: center;
    margin-bottom: 20px;
}
.welcome-subh {
    color: #838488;
    text-align: center;
    font-size: 20px;
    margin-bottom: 15px;
}
.actions {
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    width: 600px;
    margin: auto;
}
.action {
    width: 200px;
}
.action-img {
    width: 200px;
    height: 200px;
    background: #fea78b;
    border-radius: 10px;
    margin-bottom: 10px;
}
.action-info {
    display: block;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    color: #fea78b;
    margin: auto;
}
/* main end */

/* signup */
.signup-h {
    padding-top: 98px;
    font-weight: 900;
}
.signup-form-label {
    color: #7d8184;
    font-weight: 900;
}
.signup-form-input {
    padding-left: 10px;
    border-radius: 0;
    border: none;
    background: #bbbdbc;
    height: 30px;
    color: #fff;
}
.signup-subh {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 900;
}
.signup-form-checkbox-label {
    display: inline-block;
    color: #7d8184;
    font-weight: 900;
    margin-bottom: 10px;
}
.signup-form-checkbox {
    display: none;
}
.signup-form-checkbox-label::before {
    content: '';
    box-sizing: border-box;
    display: inline-block;
    width: 15px;
    height: 15px;
    background: #bcbdbf;
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 20px;
}
.signup-form-checkbox:checked + .signup-form-checkbox-label::before {
    content: '';
    border: 5px solid #bcbdbf;
    background: #ffffff;
}
.signup-form-btn {
    cursor: pointer;
    margin-top: 20px;
    border: none;
    border-radius: 20px;
    background: #fea78b;
    padding: 7px 20px;
    color: #fff;
    font-size: 18px;
    font-weight: 900;
}
.signup-form-btn:hover {
    background: #aa705c;
}
/* signup end */

/* login */
.login {
    padding-top: 118px;
    padding-bottom: 50px;
}
.login-h {
    font-weight: 900;
    color: #585858;
    text-align: center;
    margin-bottom: 30px;
}
.login-form-input {
    display: block;
    background: #b1afb0;
    border: none;
    border-radius: 5px;
    height: 40px;
    width: 200px;
    margin: auto;
    margin-bottom: 20px;
    padding-left: 15px;
    font-size: 16px;
    font-weight: 900;
    color: #3d3b3c;
}
.login-form-input::placeholder {
    font-size: 16px;
    font-weight: 900;
    color: #3d3b3c;
}
.login-form-lost-pass {
    width: 150px;
    display: block;
    margin: auto;
    color: #b3b1b2;
    font-weight: 900;
    text-decoration: none;
}
.login-form-btn {
    cursor: pointer;
    display: block;
    width: 150px;
    margin: auto;
    padding: 10px 0;
    font-weight: 900;
    font-size: 23px;
    color: #ffffff;
    background: #fea78b;
    border: none;
    border-radius: 15px;
}
.login-form-btn:hover {
    background: #aa705c;
}
/* login end */

/* profile */
.profile {
    padding: 98px 0 50px 0;
    transition: 1s;
    max-width: 1150px;
    margin: auto;
}
.profile-h {
    font-weight: 900;
    color: #000;
    margin-bottom: 20px;
}
.profile-main {
    display: flex;
    padding-bottom: 30px;
    margin-bottom: 30px;
    border-bottom: 2px solid #838488;
}
.profile-avatar {
    width: 200px;
    height: 200px;
    background-repeat: 5px;
    margin-right: 20px;
}
.profile-info {
    margin-right: 20px;
    min-width: 210px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.profile-name {
    display: block;
    font-weight: 900;
    color: #fea78b;
    font-size: 25px;
}
.profile-type {
    display: block;
    color: #838488;
    font-weight: 900;
    font-size: 18px;
}
.profile-info-interactive > a {
    text-decoration: none !important;
}
.profile-settings {
    display: inline-block;
    cursor: pointer;
    vertical-align: middle;
    margin: 0;
    padding: 9.5px;
    width: 43px;
    height: 43px;
    border: none;
    border-radius: 50%;
    background: #cecfd3;
}
.profile-friends {
    margin-left: 10px;
    vertical-align: middle;
    background: #cecfd3;
    padding: 10px 20px;
    font-weight: 900;
    color: #000;
    border-radius: 50px;
}
.profile-achieves {
    background: #eeeeef;
    border-radius: 20px;
    padding: 20px;
    padding-right: 0;
    margin-right: 20px;
}
.achieves-h {
    color: #000;
    font-weight: 900;
    margin-bottom: 10px;
}
.profile-achieves-block {
    display: flex;
    flex-wrap: wrap;
}
.profile-achievement {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #fea78b;
    margin-right: 20px;
    margin-bottom: 20px;
}
.profile-achievement:nth-child(odd) {
    background: #838488;
}
.profile-achievement:nth-child(12n) {
    margin-right: 0 !important;
}
.profile-tabs-btns {
    display: flex;
    justify-content: center;
    padding-right: 30px;
    margin-bottom: 30px;
}
.profile-tab-btn {
    background: #cecfd3;
    padding: 10px 30px;
    border-radius: 100px;
    margin-right: 20px;
    margin-left: 20px;
    color: #ffffff;
    font-size: 18px;
    font-weight: 900;
    cursor: pointer;
    outline: none;
    border: none;
}
.profile-tab-btn.active, .profile-tab-btn:hover {
    background: #fea78b;
}
.tasks-tab {
    display: none;
    width: 100%;
}
.tasks-tab.active {
    display: flex;
}
.stats-tab {
    display: none;
}
.stats-tab.active {
    display: flex;
}
.favourite-tab {
    display: none;
    width: 100%;
}
.favourite-tab.active {
    display: flex;
}
.tasks-interact {
    display: flex;
    flex-direction: column;
    width: 20%;
    margin-right: 20px;
}
.add-task {
    cursor: pointer;
    align-self: flex-end;
    width: 55px;
    height: 55px;
    padding: auto;
    border: none;
    background: #fea78b;
    border-radius: 10px;
    position: relative;
    margin-bottom: 20px;
}
.add-task:hover {
    background: #aa705c;
}
.add-task::after {
    content: attr(data-tooltip);
    display: block;
    opacity: 0;
    position: absolute;
    right: -130px;
    width: 100px;
    background: #ffffff;
    border: 2px solid #000;
    color: #000;
    font-weight: 900;
    font-size: 12px;
    padding: 5px;
    text-align: left;
    transition: 1s;
    pointer-events: none;
}
.add-task:hover::after {
    opacity: 1;
}
.add-task-icon {
    width: 45px;
    height: 45px;
}
.tasks-tags-h {
    color: #9f9f9f;
    margin-bottom: 10px;
}
.tasks-tag {
    cursor: pointer;
    display: inline-block;
    background: #adc6ff;
    color: #fff;
    font-weight: 900;
    font-size: 14px;
    padding: 5px 10px;
    margin-bottom: 5px;
    margin-top: 5px;
    margin-right: 5px;
    border-radius: 50px;
}
.tasks-tag::before {
    content: '#';
}
.tasks-list {
    width: 80%;
}
.tasks-list-table {
    width: 100%;
    background: #ffd9ce;
    border-collapse: collapse;
}
.tasks-list-head {
    border-bottom: 2px solid #838488;
    font-size: 18px;
    color: #838488;
}
.tasks-list-tr:not(:nth-last-child(1)) {
    border-bottom: 1px solid #838488;
}
.tasks-list-th, .tasks-list-td {
    padding: 8px 10px;
    font-weight: 900;
    vertical-align: top;
}
.tasks-list-th:not(:nth-last-child(1)), .tasks-list-td:not(:nth-last-child(1)) {
    border-right: 2px solid #838488;
}
.tasks-list-th:nth-last-child(1) {
    min-width: 120px;
}
.tasks-list-td {
    color: #9f9f9f;
    padding: 5px 10px;
}
.tasks-list-td[data-solved="true"] {
    color: #7cc576;
}
.tasks-list-td[data-solved="false"] {
    color: #d87077;
}
.stats-category {
    display: none;
}
.stats-category.active {
    display: initial;
}
.stats-category-open {
    display: inline-block;
    font-size: 20px;
    font-weight: 900;
    margin-bottom: 10px;
    vertical-align: middle;
    cursor: pointer;
}
.stats-category-open::before {
    content: '';
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #000;
    margin-right: 20px;
    vertical-align: middle;
}
.stats-category-text {
    margin-bottom: 5px;
    font-weight: 900;
    font-size: 16px;
    color: #9f9f9f;
}
.stats-category-selector {
    cursor: pointer;
    background: #cecfd3;
    color: #fff;
    border: none;
    padding: 5px 10px;
    outline: none;
    font-size: 18px;
    font-weight: 900;
    margin-left: 10px;
}
/* profile end */